<div class="header">
    <div class="container">
        <div class="col-md-3 logoPolyLost">
            <div class="nav-item" data-position="rigth"
                data-intro="PolyLost es una página web centrada en la publicación y reclamo de objetos perdidos por personas en ESPOL."
                data-step="1"><a id="logoPolyLost" routerLink="/">
                    <h1 class="insignia">Poly</h1>
                </a></div>
        </div>
        <div class="botonesRegisto">
            <button type="button" class="btn btn-dark btn-lg " routerLink="/usuario/registro">Registrar</button>
            <button type="button" class="btn btn-light btn-lg " routerLink="/usuario/login">Ingresar</button>
        </div>
        <div class="mapaNavegacion" (click)=iniciarRecorrido()>
            <div class="nav-item"><button class="navGuiada button" ><span>Dar un
                        paseo</span></button></div>
        </div>
        <div class="clearfix"></div>

        <div class="navigation">
            <div class="navigation-bar">
                <div class="search2">
                    <form>
                        <input type="text" value="Search.." onfocus="this.value = '';"
                            onblur="if (this.value == '') {this.value = 'Search..';}" />
                        <input type="submit" value="">
                    </form>
                </div>
                <span class="menu"></span>
                <div class="top-menu">
                    <ul class="menuPrincipal">
                        <li class="nav-item elementoMenu" data-position="bottom"
                            data-intro="En este apartado se muestran los objetos perdidos agregados recientemente a nuestro sistema."
                            data-step="2"><a class="seleccionables active nav-link enlaceMenu"
                                routerLink="/">Principal</a></li>
                        <li class="nav-item elementoMenu" data-position="bottom"
                            data-intro="Aquí podras buscar objetos perdidos y visualizarlos con mayor detalle."
                            data-step="3"><a class="seleccionables nav-link enlaceMenu" routerLink="/perdidos">Objetos
                                Perdidos</a></li>
                        <li class="nav-item elementoMenu" data-position="bottom"
                            data-intro="Si encontraste algún objeto colocalo justo aquí." data-step="4"><a
                                class="seleccionables nav-link enlaceMenu"
                                routerLink="/registrar-objeto-perdido">Agregar Objeto</a></li>

                        <li class="nav-item elementoMenu" data-position="bottom"
                            data-intro="Ponte en contacto con nosotros." data-ste="5"><a
                                class="seleccionables nav-link enlaceMenu" routerLink="/contacto">Contactanos</a></li>
                        <li class="nav-item elementoMenu" data-position="bottom"
                            data-intro="Conoce un poco de nuestro trabajo, nuestros objetivos y trabajos futuros que planiemos realizar."
                            data-step="6">
                            <a class="active enlaceMenu">Acerca de</a>
                            <ul class="menuPrincipal submenu">
                                <li class="elementoMenu"><a class="seleccionables enlaceMenu"
                                        routerLink="/equipo">Equipo de trabajo</a></li>
                                <li class="elementoMenu"><a class="seleccionables enlaceMenu" routerLink="/detalles">Que
                                        hacemos </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- script for menu -->
                <script>
                    $("span.menu").click(function () {
                        $(".top-menu").slideToggle("slow", function () {
                            // Animation complete.
                        });
                    });
                </script>

                <!-- script for menu -->
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
