<main role="main">
    <div class="about-content">
                <div class="container">
                        <!-- Contact -->
                    <div class="contact">
                        <div class="contact-head text-center">
                            <h2>Contáctenos</h2>
                            <span>Envíanos tus comentarios, dudas o sugerencias</span>
                        </div>
                            <!-- contact-grids -->
                        <div class="contact-grids">
                            <div class="contact-map">
                            </div>
                            <!-- contact-form -->
                            <div class="contact-form">
                                <form>
                                    <div class="contact-form-row">
                                        <div class="formulario">
                                            <span>Nombre Completo:</span>
                                            <input type= "text" value = "Tu nombre aquí" onfocus="this.value = '' ; " onblur="if (this.value == '') {this.value = 'Tu nombre aquí';}">
                                        </div>
                                        <div class="formulario">
                                            <span>Fecha de nacimiento:</span>
                                            <input type= "text" value= "Tu fecha de nacimiento aquí" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tu fecha de nacimiento aquí';}">
                                        </div>
                                        <div class="formulario">
                                            <span>Asunto :</span>
                                            <input type= "text" value= "Asunto" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Asunto';}">
                                        </div>
                                        <div class="formulario">
                                            <span>Correo:</span>
                                            <input type="text" value="Tu correo aquí" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tu correo aquí';}">
                                        </div>
                                        <div class="formulario">
                                            <span>Lugar de Origen:</span>
                                            <select class="form-control" id="sel1" >
                                                <option>Guayaquil</option>
                                                <option>Quito</option>
                                                <option>Zaruma</option>
                                                    <option>Machala</option>
                                              </select>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                    <div class="contact-form-row2">
                                        <span>Mensaje:</span>
                                        <textarea> </textarea>
                                    </div>
                                    <input type="submit" value="Enviar">
                                </form>
                            </div>
                            <!-- contact-form -->
                        </div>
                        <!-- contact-grids -->
                    </div>
                    <!-- /Contact -->

                </div>
            </div>
    </main>
