
<div class="miPerfil">
  <div class="product-section">
    <h3>Mi Perfil</h3>
  </div>
  <hr />
  <div class="row">
      <div class=" col-md-6">
          <label style="font-weight:bold; font-size: 25px">Nombre:</label>
      </div>
      <div class="col-md-6" style=" font-size: 25px">
          {{usuario.nombre}}
      </div>
  </div>
  <hr />

  <div class="row">
      <div class="col-md-6">
          <label style="font-weight:bold;font-size: 25px">Apellido:</label>
      </div>
      <div class="col-md-6" style=" font-size: 25px">
          {{usuario.apellido}}
      </div>
  </div>
  <hr />
  
  <div class="row">
      <div class="col-md-6">
          <label style="font-weight:bold;font-size: 25px">Nombre de usuario:</label>
      </div>
      <div class="col-md-6" style=" font-size: 25px">
          {{usuario.username}}
      </div>
  </div>
  <hr />
  <div class="row">
      <div class="col-md-6">
          <label style="font-weight:bold;font-size: 25px">Telefono</label>
      </div>
      <div class="col-md-6" style=" font-size: 25px">
          {{usuario.telefono}}
      </div>
  </div>
  <hr />
  <div class="row">
      <div class="col-md-6">
          <label style="font-weight:bold;font-size: 25px">Correo:</label>
      </div>
      <div class="col-md-6" style=" font-size: 25px">
          {{usuario.correo}}
      </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
        <label style="font-weight:bold;font-size: 25px">Direccion</label>
    </div>
    <div class="col-md-6" style=" font-size: 25px">
        {{usuario.direccion}}
    </div>
  </div>
  <hr />

            


</div>
