<div id="contenedorPrincipal" class="about-content">
    <div class="about-section">
        <div class="container">
            <div class="about-section-top text-center">
                <h3>Polylost</h3>
            </div>

            <section id="seccion1">
                <h2>¿Qué es Polylost?</h2>
                <p>Polylost es un sitio web que ayuda a encontrar objetos perdidos en el campus politécnico.</p>
            </section>
            <section id="seccion2">
                <h2>¿Por qué surgió esta iniciativa?</h2>
                <p>Se notó que los estudiantes politecnicos suelen extraviar objetos personales con alta frecuencia,
                además de no saber a donde acudir para obtener ayuda. Por otro lado las personas que encuentran los objetos perdidos
                no saben como contactar al dueño para hacer la respectiva devolución.
                </p>

            </section>
            <section id="seccion3">
                <h2>Objetivo</h2>
                <p>El objetivo de Polylost es de facilitar el contacto entre la persona que ha perdido un objeto y quien la ha encontrado.</p>
            </section>
            <section id="seccion4">
                <h2>Ventajas que ofrece Polylost</h2>
                <p>Polylost a diferencia de facebook es un sitio web especializado en objetos perdidos. En paginas de facebook como "politechicos"
                    las personas publican todo tipo de contenido, por lo que las publicaciones de objetos perdidos quedan olvidadas y finalmente se pierden.
                </p>
            </section>
            <section id="seccion5">
                    <h2>Características destacas:</h2>
                    <ul>
                        <li><p>Consultar objetos encontrados recientemente</p></li>
                        <li><p>Permite agregar un objeto perdido con la foto, ubicación, hora y descripción</p></li>
                        <li><p>Mayor seguridad (Solo usuarios registrados pueden agregar objetos)</p></li>
                    </ul>
            </section>

        </div>
    </div>


</div>
<img id="pregunta" src="../assets/pregunta.png" alt="duda">
