<main role="main">
    <div class="galleria-container">
      <div class="container">
        <div class="cuerpo">
          <div class="banner">
            <!--<img src="../images/PrincipalBackground.gif">-->
            <div class="trans">
              <p class="texto parrafo1">¿Se te perdió algo? ¡No te preocupes! <br>De seguro lo encuentras aquí.</p>
            </div>
            <div class="botones">
              <a routerLink="/buscar-objeto-perdido"> <button class="perdio">¡Se me perdio algo!</button></a>
              <a routerLink="/registrar-objeto-perdido"><button class="encontro" >¡Encontré algo!</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
